<div class="row clearfix">
	<div class="col-sm-12">
		<div class="ig-logincont">
			<div class="ig-form-signin-heading" style="display: none;">
				<h1 > Xerox </h1>
				&reg;
				<h1> Ignite </h1>
				&#8482;
				<h1> Educator Support System </h1>
			</div>
			<form class="ig-form-signin" role="form">
				<input class="form-control ig-userID" type="text" placeholder="Email address" autofocus="" required="">
				<input class="form-control ig-password" type="password" placeholder="Password" required="">
				<button class="btn btn-lg btn-primary btn-block ig-logBtn" type="submit" ng-click="doLogin()">
					Log In
				</button>
				<div class="ig-forgotPass">
					<span><img src="../app/images/Forgot.png"> </span>
					<a href="#"> Forgot Password ? </a>
				</div>
			</form>
		</div>
	</div>
</div>