<!-- <div ng-show="showHeader">
	<div class="row clearfix">
		<div class="col-md-12">
			<div class="logo">
				<a class="logoname" ng-click="doLogut()">Ignite</a>
				<span><strong>Admin , Ignite</strong> - <a href="#/login">Logout</a> |</span>
				<span><a href="#">Account</a> |</span>
				<span><a href="#">My Schools</a></span>
				<span>2013-2014 Marking Period</span>
			</div>
		</div>
	</div>
	<div class="row clearfix" ng-show="showMainNav">
		<div class="mainMenuCls gradient">
			<ul>
				<li>
					<a ng-click="setRoute('assessments')" title="Assessments">Assessments</a>
				</li>
				<li>
					<a ng-click="setRoute('scorebook')" title="Score Book">Score Book</a>
				</li>
				<li>
					<a ng-click="setRoute('reports')" title="Reports">Reports</a>
				</li>
				<li class="menuActive">
					<a ng-click="setRoute('admin/districts')" title="Administration">Administration</a>
				</li>
			</ul>
		</div>
		<div class="subMenuCls mainMenuCls gradient">
			<ul >
				<li>
					<a ng-click="setRoute('admin/districts',$event)">Districts</a>
				</li>
				<li class="menuActive">
					<a ng-click="setRoute('admin/schools',$event)">Schools</a>
				</li>
				<li>
					<a ng-click="setRoute('admin/classes',$event)">Classes</a>
				</li>
				<li>
					<a ng-click="setRoute('admin/students',$event)">Students</a>
				</li>
				<li>
					<a ng-click="setRoute('admin/users',$event)">Users</a>
				</li>
				<li>
					<a ng-click="setRoute('admin/roles',$event)">Roles</a>
				</li>
				<li>
					<a ng-click="setRoute('admin/sis',$event)">SIS</a>
				</li>
				<li>
					<a ng-click="setRoute('admin/log',$event)">Log</a>
				</li>
				<li>
					<a ng-click="setRoute('admin/system',$event)">System</a>
				</li>
			</ul>
		</div>
	</div>
</div> -->

Header should come over here!....